.header_container
  .logo

  .blurb
    %h1
      CODE CARPENTRY

    .divider

    %h2
      ETSY ENGINEERING + COLUMBIA UNIVERSITY
    %p
      What's better than hacking with brilliant students? Teaming up with
      Etsy engineers who can teach you all the secrets. But how do they do it?
      What are their techniques? All these questions will be answered, and more this
      Fall when Etsy's engineering team collaborates with young developers from
      Columbia University's student-led Application Development Initiative.

.project_summary
  %p.title
    CURRENT PROJECT

  .divider

  %h3
    Code Carpentry Website
  %p
    The first project up is to build the website for the Code Carpentry program... This website, in fact!


- @repos.each_with_index do |repo, i|
  .repo_container
    .repo
      .stats
        %a{href: repo.url}
          .team_logo{id: "logo-#{i+1}"}
        %p.number
          =repo.time_since_last_commit_in_words_number
        %p.title
          =repo.time_since_last_commit_in_words_units.upcase
          SINCE LAST PUSH
        %p.number
          =repo.commits_within_last_week
        %p.title
          COMMITS WITHIN THE LAST WEEK
        %p.number
          ="#{repo.number_members_committed_within_day}/#{repo.number_members_total}"
        %p.title
          MEMBERS PUSHED WITHIN THE LAST DAY
      .description
        %h3
          %a{href: repo.url, rel: 'canonical'}
            =repo.name
        %p
          =repo.description
      .avatars
        -repo.contributors.each do |contributor|
          %a{href: contributor.url, alt: "#{contributor.login} on Github"}
            %img{src: contributor.avatar_url + "&size=135" }
        .divider
        .last_commit
          %a{href: repo.last_commit.url}
            = "Last Github Update: #{repo.last_commit_date}"

      .clearfix

.footer
  .logo_container
    %p
      A COLLABORATION BETWEEN
    %a{href: 'http://adicu.com'}
      .text
        application development initiative
      .adi_logo
    %a{href: 'http://www.etsy.com'}
      .text
        Etsy
      .etsy_logo
  .link_panel
    %p
      STAY CONNECTED

    .column
      .row
        %a{href: 'https://github.com/etsy'}
          Etsy on Github
      .row
        %a{href: 'https://twitter.com/Etsy'}
          @Etsy
      .row
        %a{href: 'https://www.facebook.com/Etsy'}
          Etsy on Facebook
    .column
      .row
        %a{href: 'https://github.com/adicu'}
          ADI on Github
      .row
        %a{href: 'http://twitter.com/adicu'}
          @adicu
      .row
        %a{href: 'http://facebook.com/adicu'}
          ADI on Facebook
    .clearfix

  .clearfix