!!!
%head
  %title
    CodeCarpentryWebsite
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ropa Sans'
  = csrf_meta_tags

%body
  .container
    = yield
